<div class="row">
	<fieldset>
		<legend>Listado de servidores Activos</legend>
		<%= render 'servers', :servers => @active_servers %>
	</fieldset>
	<br />
	<fieldset>
		<legend>Listado de servidores Inactivos</legend>
		<%= render 'servers', :servers => @inactive_servers %>
	</fieldset>
	
	<br />
	<%= link_to "Nuevo Servidor",
	            new_server_path,
	            :class => 'btn btn-primary' %>
	
</div>
